@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Cuprum');
/* BODIES and Nav Bar */
#home {
  font-family: 'Montserrat', sans-serif;
}

#project {
  font-family: 'Montserrat', sans-serif;
}

/* @Navigation Bar */

#navigation .navbar-nav { 
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

#navigation .navbar-nav li {
  display: inline-block;
  float: none;
}

#navigation .navbar-nav li > a {
  color: black;
   padding-left: 45px;
    padding-right: 45px;
}

/* @About Page */
#about {
  padding-top: 30px;
}

#about-introduction-picture img {
  border-radius: 50%;
  padding-left: 50px;
  padding-right: 50px;
  float: left;
}

#about-body-opening {
  font-family: 'Cuprum', sans-serif;
}

#about-body-text {
  padding-right: 25px;
}

#about-body-text a {
  text-decoration: none;
}

/*  Banner and Banner Caption */
div#banner .overlay-text {
  position: absolute;
  top: 49%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Playfair';
  font-size: 39px;
}

.portfolio-intro {
  background-color: #e0e0e0;
  font-family: 'Cormorant Garamond';
  padding-top: 55px;
  padding-bottom: 70px;
  text-align: center;
}

.portfolio-intro h1 {
  font-size: 35px;
}

.portfolio-intro p {
  font-size: 18px;
  padding-left: 80px;
  padding-right: 80px;
}


/* @Project Section */
.title {
  text-align: center;
  font-family: 'Playfair';
  font-size: 35px;
  padding-top: 80px;
  padding-bottom: 5px;
}

#project-big-img {
  width: 800px;
  background-color: #f6f6f6;
  padding-top: 35px;
}

#project-big-caption {
  width: 800px;
  background-color: #e4e4e4;
  text-align: center;
  margin: 0 auto;
  font-family: 'Playfair';
  padding: 15px 15px 20px 15px;
}

.project-thumb {
  padding-top: 35px;  
}

div#code .image-popup-no-margins-main > img {width: 90%; height: 100%;}
div#code .project-thumb-img a img { height: 360px; width: 360px; }
div#code .project-thumb-caption  {background-color: white;}
div#work .project-thumb > img {
  height: 360px;
  width: 360px;
}

div#work .row-centered { text-align:center; }

.article-image {
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  position: absolute;
}

.overlay {  
 opacity:0;
 -webkit-transition: opacity .25s ease;
 -moz-transition: opacity .25s ease;             

}

div#work .project-thumb:hover .image {
  opacity: 0.3;
}

div#work .project-thumb:hover .overlay {
  opacity: 1;
}

.article-text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  top: 150px;
  right: 50px;
  position: absolute;
}

/* @Footer */
footer { 
  font-size: .8em; margin: 40px; color: #999; 
}
footer .content { 
  display: inline; float: right;
}

footer a { 
  margin-left: 30px; color: #777; 
}

footer a:visited { 
    color: #777; 
}

footer a:hover { 
  color: #000; 
}



/* --------------------------------------------------
              Media Queries 
  --------------------------------------------------- */
@media screen and (max-width: 768px) and (min-width: 384px){
    /* @Hamburger Menu */
    .hamburger {
      display: block;
      cursor: pointer;
      padding: 15px;
    }
    .line {
      border-bottom: 4px solid #bbb;
      width: 35px;
      margin-bottom: 6px;
    }
    .line:last-child {
      margin-bottom: 0px;
    }

    nav li {
      width: 100%;
    }
    nav img {
      display: none;
    }
    .navbar-nav {
      height: 0;
      overflow: hidden;
    }
    .open {
      height: 100px;
    }   
}


@media screen and (max-width: 480px) {
    #about-introduction-picture img  {
         width: 235px;
    }
}

@media screen and (max-width: 500px) {
    #about-introduction-picture img  {
         width: 235px;
    }
    #about-body-opening h1 {
      color:pink;
    }
}

@media screen and (min-width: 570px) {
    #about-introduction-picture img  {
         width: 250px;
         float: center;
    }
    #about-body-opening h1 {
      color:brown;
    }
}

@media screen and (min-width: 620px){
    #about-introduction-picture img  {
         width: 275px;
    }
    #about-body-opening h1 {
      color:purple;
    }  
}

@media screen and (min-width: 680px){
    #about-introduction-picture img  {
         width: 300px;
    }
    #about-body-opening h1 {
      color:blue;
    }
    #banner-text p{
      color: purple;
    }
    
}

@media screen and (min-width: 720px) {
    #about-introduction-picture img  {
         width: 325px;
    }
    #about-body-opening h1 {
      color:blue;
    }
    #banner-text p {
      color: blue;
      font-size: 0.72em;
    }
    
}

@media screen and (min-width: 800px){
    #about-introduction-picture img  {
         width: 350px;
    }
    #about-body-opening h1 {
      color:green;
    }
    #banner-text p {
      color: green;
      font-size: 0.8em;
    }
    
}
@media screen and (min-width: 860px){
    #about-introduction-picture img  {
         width: 375px;
    }
    #about-body-opening h1 {
      color:yellow;
    }
    #banner-text p {
      color: yellow;
      font-size: .85em;
    }
    
}
@media screen and (min-width: 920px){
    #about-introduction-picture img  {
         width: 400px;
    }
    #about-body-opening h1 {
      color:orange;
    }
    #banner-text p {
      color: orange;
      font-size: 0.9em;
    }
   
}
      /*Originally 1000*/
@media screen and (min-width: 1000px){
    #about-introduction-picture img  {
         width: 425px;
         text-align: left;
    }
    #about-body-opening h1 {
      color:tan;
      
    }
    #about-body-opening h5 {
    }
    #banner-text p {
      color: red;
    }
}

@media screen and (min-width: 1214px){
    #about-introduction-picture img  {
         width: 425px;
    }
    #about-body-opening h1 {
      color:red;
}

