@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* BODIES and Nav Bar */
body {

  /*background-image: url("images/lake.jpg") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  /*Used below the Ultimate CSS Gradient Generator*/
  background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);

}

#home {
  font-family: 'Montserrat', sans-serif;
}

#project {
  font-family: 'Montserrat', sans-serif;
}

/* @Navigation Bar */

#navigation .navbar-nav { 
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

#navigation .navbar-nav li {
  display: inline-block;
  float: none;
}

#navigation .navbar-nav li > a {
  color: black;
  padding-left: 45px;
  padding-right: 45px;
}

/* @About Page */
.title {
  letter-spacing: 0.3em;
}

.location {
  padding-top: 20px;
  padding-bottom: 30px;
}


#about {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.about-title > h1 {
  padding-top: 50px;
  padding-bottom: 25px;
  letter-spacing: 0.2em;
}

#about-introduction-picture img {
  padding-left: 50px;
  padding-right: 50px;
  float: left;
  border-radius: 50%;
}

.about-body-text {
  padding-right: 25px;
}

.about-body-text a {
  text-decoration: none;
}

/*  Banner and Banner Caption */
div#banner .overlay-text {
  position: absolute;
  top: 49%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Playfair';
  font-size: 39px;
}

.portfolio-intro {
  background-color: #e0e0e0;
  font-family: 'Cormorant Garamond';
  padding-top: 55px;
  padding-bottom: 70px;
  text-align: center;
}

.portfolio-intro h1 {
  font-size: 35px;
}

.portfolio-intro p {
  font-size: 18px;
  padding-left: 80px;
  padding-right: 80px;
}


/* @Project Section */
.title {
  text-align: center;
  font-family: 'Playfair';
  font-size: 35px;
  padding-top: 80px;
  padding-bottom: 5px;
}

#project-big-img {
  width: 800px;
  background-color: #f6f6f6;
  padding-top: 35px;
}

#project-big-caption {
  width: 800px;
  background-color: #e4e4e4;
  text-align: center;
  margin: 0 auto;
  font-family: 'Playfair';
  padding: 15px 15px 20px 15px;
}

.project-thumb {
  padding-top: 35px;  
}

div#code .image-popup-no-margins-main > img {width: 90%; height: 100%;}
div#code .project-thumb-img a img { height: 360px; width: 360px; }
div#code .project-thumb-caption  {background-color: white;}
div#work .project-thumb > img {
  height: 360px;
  width: 360px;
}

div#work .row-centered { 
  text-align:center; 
}

.article-image {
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  position: absolute;
}

.overlay {  
 opacity:0;
 -webkit-transition: opacity .25s ease;
 -moz-transition: opacity .25s ease;             

}

div#work .project-thumb:hover .image {
  opacity: 0.3;
}

div#work .project-thumb:hover .overlay {
  opacity: 1;
}

.article-text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  top: 150px;
  right: 50px;
  position: absolute;
}

/* @Footer */
footer { 
  font-size: .8em; 
  margin: 40px; 
  /*color: #999; */
  color: white;
}
footer .content { 
  display: inline; float: right;
}

footer a { 
  margin-left: 30px; 
  /*color: #777; */
  color: white;
}

footer a:visited { 
  /*color: #777; */
  color: white;
}

footer a:hover { 
  color: #000; 
}


/* --------------------------------------------------
              Media Queries 
  --------------------------------------------------- */

@media screen and (max-width: 768px) and (min-width: 320px){
    /* @Hamburger Menu */
    .hamburger {
      display: block;
      cursor: pointer;
      padding: 15px;
    }
    .line {
      border-bottom: 4px solid #bbb;
      width: 35px;
      margin-bottom: 6px;
    }
    .line:last-child {
      margin-bottom: 0px;
    }

    nav li {
      width: 100%;
    }
    nav img {
      display: none;
    }
    .navbar-nav {
      height: 0;
      overflow: hidden;
    }
    .open {
      height: 100px;
    }   

    #about-introduction-picture {
      text-align: center;
    }

    .about-body-text p {
      padding-top: 50px;
    }

}

/* Addresses Responsiveness for the footer on small screens */
@media screen and (max-width: 400px) and (min-width: 320px){
    .contact-info a {
      font-size: 7.15px;
    }

    footer {
      font-size: 7.15px;
    }
    .greeting {
      color: red;
    }
}

@media screen and (max-width: 520px) and (min-width: 320px){
    #about-introduction-picture img  {
         width: 300px;
    }    
}


@media screen and (max-width: 767px) and (min-width: 521px){
    #about-introduction-picture img  {
         width: 325px;
    }
}


@media screen and (min-width: 768px){
    #about-introduction-picture img  {
         width: 350px;
    }   
    #banner-text p {
      color: green;
      font-size: 0.8em;
    }
    
}
@media screen and (min-width: 860px){
    #about-introduction-picture img  {
         width: 375px;
    }
    #banner-text p {
      color: yellow;
      font-size: .85em;
    }
    
}
@media screen and (min-width: 920px){
    #about-introduction-picture img  {
         width: 400px;
    }
    #banner-text p {
      color: orange;
      font-size: 0.9em;
    }
   
}
      /*Originally 1000*/
@media screen and (min-width: 1000px){
    #about-introduction-picture img  {
         width: 425px;
         text-align: left;
    }
    #banner-text p {
      color: red;
    }
}

@media screen and (min-width: 1214px){
    #about-introduction-picture img  {
         width: 425px;
    }
}
