@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

#projects {
  font-family: 'Montserrat', sans-serif;
}

/* @Navigation Bar */
#navigation .navbar-nav { 
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

#navigation .navbar-nav li {
  display: inline-block;
  float: none;
}

#navigation .navbar-nav li > a {
  color: black;
  padding-left: 45px;
  padding-right: 45px;
}

/* @Project Section */
section {
  text-align: center;
}

.portfolio-intro {
  background-color: #e0e0e0;
  padding-top: 55px;
  padding-bottom: 65px;
  text-align: center;
}

.portfolio-intro h1 {
  font-size: 35px;
}

.portfolio-intro p {
  font-size: 18px;
  padding-left: 80px;
  padding-right: 80px;
}

.container {
  display: inline-block;
}

.mid {
  padding-top: 40px;
}
#item {
  padding-top: 30px;
  padding-bottom: 60px;
}

.row {
  position: relative;
}

.description {
  letter-spacing: 0.5px;  
}

section#item .project-image-o img{
  opacity: 0.8;
}

section#item .project-image-sj img{
  opacity: 0.9;
}

/* Skills Embelishing */
.tools-used-item {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  font-weight: 500;
  width: auto;
  font-size: 11px;
  display: inline-block;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  border-radius: 8px;
}

/* @Scroll Up Toggle aquired from SARA VIEIRA */
#scrollUp {
  padding-top: 75px;
  width: 29px;
  height: 29px;
}


@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#scrollUp:hover {
  animation: bounce 1s;
}

/* @Footer */
/*footer { 
  font-size: .8em; 
  margin: 40px; 
  color: #999; 
}
footer .content { 
  display: inline; float: right;
}

footer a { 
  margin-left: 30px; 
  color: #777; 
}

footer a:visited { 
  color: #777; 
}

footer a:hover { 
  color: #000; 
}*/

footer {
  background-color: grey;
  color: white;
  padding:20px 20px;
  text-align: center;
}

footer a {
  float: middle;
}

.fa {
    color: white;
}

.fa-lg:hover {
    transition: .5s;
}

.fa-github:hover {
    color: #6e5494;
}

.fa-linkedin:hover {
    color: #00a0dc;
}

.fa-envelope:hover {
    color: #ea4335;
}

footer a:hover {
    text-decoration: none;
    color: #db8585;
    transition: all .35s linear;
    -o-transition: all 0.35s linear; /* opera */
    -ms-transition: all 0.35s linear; /* IE 10 */
    -moz-transition: all 0.35s linear; /* Firefox */
    -webkit-transition: all 0.35s linear; /*safari and chrome */
}

/* --------------------------------------------------
              Media Queries 
  --------------------------------------------------- */

@media screen and (max-width: 768px) and (min-width: 320px){
    /* @Hamburger Menu */
    .hamburger {
      display: block;
      cursor: pointer;
      padding: 15px;
    }
    .line {
      border-bottom: 4px solid #bbb;
      width: 35px;
      margin-bottom: 6px;
    }
    .line:last-child {
      margin-bottom: 0px;
    }

    nav li {
      width: 100%;
    }
    nav img {
      display: none;
    }
    .navbar-nav {
      height: 0;
      overflow: hidden;
    }
    .open {
      height: 100px;
    }  


    #webportThumb {
      width: 360px;
    }

    section#item .project-image-bb img{
      width: 360px;
    } 

    section#item .project-image-o img{
      width: 300px;
    }

    section#item .project-image-sj img{
      width: 305px;
    }

    section#item .project-image-i img{
      width: 315px;
    }

}

/* Addresses Responsiveness for the footer on small screens */
@media screen and (max-width: 400px) and (min-width: 320px){
    .contact-info a {
      font-size: 7.15px;
    }
    footer {
      font-size: 7.15px;
    }
}
/*
@media screen and (max-width: 520px) and (min-width: 320px){
  
}


@media screen and (max-width: 767px) and (min-width: 521px){
 
}*/


@media screen and (min-width: 768px){
    section#item img {
      width: 300px;
    }
    section#item .project-image-bb img{
      width: 400px;
    }

    #webportThumb {
      width: 400px;
    }
    
}
@media screen and (min-width: 860px){
    section#item img {
      width: 305px;
    }
    section#item .project-image-bb img{
      width: 450px;
    }

    #webportThumb {
      width: 450px;
    }
    
}
@media screen and (min-width: 920px){
    section#item .project-image-bb img{
      width: 500px;
    }

    #webportThumb {
      width: 500px;
    }
   
}

@media screen and (min-width: 1000px){
    /*section#item img {
      width: 25%;
      height: 25%;

    }*/
    section#item .project-image-bb img{
      width: 550px;
    }

    #webportThumb {
      width: 550px;
    }

}
