@import url('https://fonts.googleapis.com/css?family=Montserrat');

#resume {
  font-family: 'Montserrat', sans-serif;
}


/* Nav Bar*/
header {
  font-family: 'Montserrat', sans-serif; 
}

#navigation .navbar-nav { 
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

#navigation .navbar-nav li {
  display: inline-block;
  float: none;
}

#navigation .navbar-nav li > a {
  color: black;
   padding-left: 45px;
    padding-right: 45px;
}

/* @Resume */
#resume-body {
  padding-left: 17px;
  padding-right: 17px;
}
.inner {
    max-width: 1024px;
    margin: 0 auto;
}

.tagline {    
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4em;
    padding: 10px 10px 10px 10px;
}

.tagline-languages {
  padding-top: 10px;
}

.right {
    float: right;
}

.skill {
    border: 1px solid #50a9d1;
    margin-right: 10px;
    font-weight: 500;
    width: auto;
    font-size: 11px;
    display: inline-block;
    line-height: 1.33333em;
    padding: 7px 17px;
    margin-top: 0.8em;
    border-radius: 8px;
}

.section-tagline {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4em;
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #CEC8C8;
}

.class-link {
  color: black;
}
.class-link:hover {
  text-decoration: none;
  color: black;
}



/* @View My Resume Button and Scroll Up Toggle aquired from SARA VIEIRA */
#scrollUp {
  padding-left: 40px;
  float: right;
  width: 29px;
  height: 29px;
}


@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#scrollUp:hover {
  animation: bounce 1s;
}


/* @Footer */

footer { font-size: .8em; margin: 40px; color: #999; }
footer .content { display: inline; float: right;}

footer a { margin-left: 30px; color: #777; }

footer a:visited { color: #777; }
footer a:hover { color: #000; }


/* @Media Queries */
@media screen and (max-width: 768px) and (min-width: 320px){
    /* @Hamburger Menu */
    .hamburger {
      display: block;
      cursor: pointer;
      padding: 15px;
    }
    .line {
      border-bottom: 4px solid #bbb;
      width: 35px;
      margin-bottom: 6px;
    }
    .line:last-child {
      margin-bottom: 0px;
    }

    nav li {
      width: 100%;
    }
    nav img {
      display: none;
    }
    .navbar-nav {
      height: 0;
      overflow: hidden;
    }
    .open {
      height: 100px;
    }   
}

/* Addresses Responsiveness for the footer on small screens */
@media screen and (max-width: 400px) and (min-width: 320px){
    .contact-info a {
      font-size: 7.15px;
    }

    footer {
      font-size: 7.15px;
    }

    i {
      font-size: 11px;
    }
}
