@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Playfair+Display');


#project {
	font-family: 'Montserrat', sans-serif;
}

div.headline { text-align: center; }

#navigation .navbar-nav { 
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

#navigation .navbar-nav li {
  display: inline-block;
  float: none;
}

#navigation .navbar-nav li > a {
  color: black;
   padding-left: 45px;
    padding-right: 45px;
}


/*  Banner and Banner Caption */
div#banner .overlay-text {
  position: absolute;
  top: 49%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Playfair';
  font-size: 39px;
}

.portfolio-intro {
  background-color: #e0e0e0;
  font-family: 'Cormorant Garamond';
  padding-top: 55px;
  padding-bottom: 70px;
  text-align: center;
}

.portfolio-intro h1 {
  font-size: 35px;
}

.portfolio-intro p {
  font-size: 18px;
  font-family: 'Times New Roman', sans-serif;
  padding-left: 80px;
  padding-right: 80px;
}


/*Project Section */
.title {
  text-align: center;
  font-family: 'Playfair';
  font-size: 35px;
  padding-top: 80px;
  padding-bottom: 5px;
}

#project-big-img {
  width: 800px;
  background-color: #f6f6f6;
  padding-top: 35px;
}

#project-big-caption {
  width: 800px;
  background-color: #e4e4e4;
  text-align: center;
  margin: 0 auto;
  font-family: 'Playfair';
  padding: 15px 15px 20px 15px;
}

div#code {
  background-color: white;
}

.project-thumb {
  padding-top: 35px;  
}


div#code .image-popup-no-margins-main > img {width: 90%; height: 100%;}
div#code .project-thumb-img a img { height: 360px; width: 360px; }
div#code .project-thumb-caption  {background-color: white;}
div#work .project-thumb > img {
	height: 360px;
	width: 360px;
}

div#work .row-centered { text-align:center; }

.image {
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  position: absolute;
}

.overlay {  
 opacity:0;
 -webkit-transition: opacity .25s ease;
 -moz-transition: opacity .25s ease;             

}

div#work .project-thumb:hover .image {
  opacity: 0.3;
}

div#work .project-thumb:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  top: 150px;
  right: 50px;
  position: absolute;
}


/* Footer */

footer { font-size: .8em; margin: 40px; color: #999; }
footer .content { display: inline; }

footer a { margin-left: 30px; color: #777; }

footer a:visited { color: #777; }
footer a:hover { color: #000; }





